<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天天生鲜-支付管理</title>
<base href="../">
<link rel="shortcut icon" href="images/copylogo.png">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/order.css">
</head>

<body>
	<div id="login_info">
		<!-- 头部  -->
		<div class="header_con">
			<div class="header">
				<div class="welcome fl">欢迎来到天天生鲜</div>
				<div class="fr">
					<div class="login_info fl" v-if="onlogin">
						<a href="front/user.html" target="_blank">欢迎:<em>{{loginName}}</em></a>
						<span> | </span> <a href="register.html" target="_blank">注册</a>
					</div>
					<div class="login_btn fl" v-else="onlogin">
						<a href="front/login.html" target="_blank">登录</a> <span> | </span> <a
							href="front/register.html" target="_blank">注册</a>
					</div>
					<div class="user_link fl">
						<span> | </span> <a href="front/user.html">用户中心</a> <span>
							| </span> <a href="front/cart.html">我的购物车</a> <span> | </span> <a
							href="front/order.html">我的订单</a>
					</div>
				</div>
			</div>
		</div>

		<!-- 搜素框 -->
		<div class="search_bar clearfix">
			<a href="index.html" class="logo fl"><img src="images/logo.png"></a>
			<div class="search_con fl">
				<form>
					<input type="text" class="input_text fl" name="key_words"
						placeholder="搜索商品"> <input type="submit"
						class="input_btn fr" value="搜索">
				</form>
			</div>
			<div class="guest_cart fr">
				<a href="front/cart.html" class="cart_name fl">我的购物车</a>
				<div class="goods_count fl" id="show_count">{{cartCount}}</div>
			</div>
		</div>
	</div>

	<div id="app">
		<!-- 订单列表 -->

		<div class="common_list_con clearfix" id="order_list">
			<ul class="goods_list_th clearfix">
				<li class="col01">商品名称</li>
				<li class="col03">商品单位</li>
				<li class="col03">商品价格</li>
				<li class="col02">数量</li>
				<li class="col03">小计</li>
			</ul>
		</div>
		<div class="order_list_con" id="order_list">
			<div v-for="item in orders">
				<div class="order_title">
					<span>订购日期:{{item.odate}}</span><span>订购号:{{item.ono}}</span><span>订单总额:{{item.totalprice}}元</span>
					<a href="" v-if="item.status==1">去支付</a>
					<a href="" v-else-if="item.status==2">已支付</a>
					<a href="" v-else-if="item.status==3">已发货</a>
					<a href="" v-else>已完成</a>
				</div>
				<ul class="goods_list_td clearfix" v-for="(itm,index) in item.goods">
					<li class="col01">{{index+1}}</li>
					<li class="col02"><img :src="itm.pics"></li>
					<li class="col03">{{itm.gname}}</li>
					<li class="col04">{{itm.weight}}/{{itm.unit}}</li>
					<li class="col04">{{itm.price}}元</li>
					<li class="col03">{{itm.nums}}</li>
					<li class="col04">{{itm.nums*itm.price}}元</li>
				</ul>
				
			</div>
		</div>
	</div>
	<!-- 版权所有 -->
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a> <span> | </span> <a href="#">联系我么</a> <span>
				| </span> <a href="#">招聘人才</a> <span> | </span> <a href="#">友情链接</a>
		</div>
		<p>CcpyRight &copy; 2019 衡阳市源辰信息科技有限公司 All Rights Reserverd</p>
		<p>电话：0734-8355998 湘ICP备16015987号</p>
	</div>

	<script src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/qs.js"></script>
	<script type="text/javascript" src="js/axios.js"></script>
	<script type="text/javascript" src="js/checkLogin.js"></script>
	<script type="text/javascript">



	var app = new Vue({
		el:"#app",
		data:{
			orders:[],
		},
		mounted:function(){
         axios.post("order",qs.stringify({op:"find"})).then(result=>{
        	 console.log(result);
        	 this.orders=result.data.data;
        	 })
         }
	})





$('#order_btn').click(function() {

	$('.popup_con').fadeIn('fast', function() {

		setTimeout(function(){
			$('.popup_con').fadeOut('fast',function(){
				window.location.href = 'index.html';
			});	
		},3000)
		
	});
});
</script>
</body>
</html>
